div .bg-nosotros{
    background: linear-gradient(rgba(24, 6, 27, 0.397), rgba(4, 5, 37, 0.5)), url(/img/nosotros.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}