@import "color";
.producto-img {
    width: 350px;
    height: 350px;
    border: 2px ridge $color;
    border-radius: 15px;
}

.descripcion{
    font-size: 35px;
    color: $color;
    padding: 5px;
    margin: 5px;
    
    
}

.Producto-text{
    padding: 16px;
}
